<div class="px-3 py-2 bg-secondary text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h2 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <svg class="bi d-block mx-auto mb-1 " width="24" height="24"></svg>
                {{title}}
            </h2>
            <a type="button" class="btn btn-danger filled" href="/" class="nav-link text-white">
                Logout
            </a>
        </div>
    </div>
</div>
<br />
<div class="jumbotron jumbotronDealer jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Dealer Dashboard</h1>
        <p class="lead"> Dealers sell and service manufactured products. <mark>Dealers</mark> perform the initial sales
            process as well as deliver after-sales services.</p>
    </div>
</div>
</br>
<div class="container-fluid">
    <div class="row rowBox">
        <div class="col-md-5 col-sm-12"></div>
        <div class="col-md-4 col-sm-12">
            {{!-- <button type="submit" onclick="allOrders(event)" class="btn btn-fill btn-primary rounded-pill">Show
                All
                Orders</button> --}}
        </div>
        <div class="col-md-3 col-sm-12">
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row rowBox">
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-shadow">
                <div class="card-header" style="background-color:teal">
                    <legend class="text-center" data-bs-toggle="collapse" href="#collapseRaise" role="button"
                        aria-expanded="false" aria-controls="collapseExample">Raise new order</legend></br>
                </div>
                <div class="card-body collapse" id="collapseRaise">
                    <form id="disForm">
                        <div class="row .navbar-brand ">
                            <div class="col-md-12 col-sm-12" class="form-group">
                                <a>Order Number</a>
                                <label for="orderNumber" class="form-label mt-4"></label>
                                <input type="text" class="form-control" id="orderNumber" aria-describedby="orderNumber"
                                    placeholder="A71">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12" class="form-group">
                                <a>Watch Model</a>
                                <label for="watchNumber" class="form-label mt-4">
                                    <select name="model" id="model-select">
                                        <option>--Please choose an option--</option>
                                        <option value='Analog'>Analog</option>
                                        <option value='Digital'>Digital</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12" class="form-group">
                                <a>Watch Brand</a>
                                <label for="watchBrand" class="form-label mt-4"></label>
                                <input type="text" class="form-control" id="watchBrand" aria-describedby="watchBrand"
                                    placeholder="Addidas">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12" class="form-group">
                                <a>Watch Colour</a>
                                <label for="watchColor" class="form-label mt-4"></label>
                                <input type="text" class="form-control" id="watchColor" aria-describedby="watchColor"
                                    placeholder="White">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12" class="form-group">
                                <a>Price</a>
                                <label for="watchPrice" class="form-label mt-4"></label>
                                <input type="text" class="form-control" id="watchPrice" aria-describedby="watchPrice"
                                    placeholder=" 1999">
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-12 col-sm-12" class="form-group">
                                <button type="submit" onclick="createOrder(event)"
                                    class="btn btn-fill btn-secondary rounded-pill">Raise Order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row rowBox">
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-shadow">
                <div class="card-header" style="background-color:teal">
                    <legend class="text-center" data-bs-toggle="collapse" href="#collapseQueryReadOrder" role="button"
                        aria-expanded="false" aria-controls="collapseExample">Check Order</legend>
                </div>
                <div class="card-body collapse" id="collapseQueryReadOrder">
                    <form>
                        <div class="row .navbar-brand">
                            <div class="col-md-12 col-sm-12" class="form-group">
                                <a>Order Number</a>
                                <label for="ordNum" class="form-label mt-4"></label>
                                <input type="text" class="form-control" id="ordNum" aria-describedby="ordNum"
                                    placeholder="A71">
                            </div>
                        </div>
                        </br>
                        <button type="submit" onclick="readOrder(event)"
                            class="btn btn-fill btn-secondary rounded-pill">Submit</button></br>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12"></div>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{{!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> --}}
{{!--
<script type="text/javascript" src='/javascripts/main.js'></script> --}}
{{!--
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}
{{!--
<script src="https://code.jquery.com/jquery-2.2.4.js"></script> --}}
{{!--
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}