<div class="px-3 py-2 bg-secondary text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <h2 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi d-block mx-auto mb-1 " width="24" height="24"></svg>
        {{title}}
      </h2>
      <a type="button" class="btn btn-danger filled" href="/" class="nav-link text-white">
        Logout
      </a>
    </div>
  </div>
</div>
</br>
<div class="jumbotron jumbotronMvd jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Retailer Dashboard</h1>
    <p class="lead"> <mark>Retailer</mark> </p>
  </div>
</div>
</br>
<div class="container-fluid">
  <div class="row rowBox">
    <div class="card card-shadow">
      <div class="card-header" style="background-color:rgb(173, 186, 192)">
        <legend class="text-center">Complete Watch List</legend>
      </div>
      <div class="card-body">
        <div class="table-container">
          <table class="table" style="width:100%">
            <thead id="colored-table">
              <th>WatchId</th>
              <th>AssetType</th>
              <th>Color</th>
              <th>DOM</th>
              <th>Number</th>
              <th>Brand</th>
              {{!-- <th>Owner</th>
              <th>Status</th> --}}
              <th> </th>
            </thead>
            <tbody>
              {{#each itemList}}
              <tr>
                <td>{{this.Key}}</td>
                <td>{{this.Record.assetType}}</td>
                <td>{{this.Record.color}}</td>
                <td>{{this.Record.dateofmanufacture}}</td>
                <td>{{this.Record.number}}</td>
                <td>{{this.Record.brand}}</td>
                {{!-- <td>{{this.Record.ownedBy}}</td>
                <td>{{this.Record.status}}</td> --}}
                {{!-- <td><button class="btn btn-danger filled" onClick="getItemHistory('{{this.Key}}');">Get
                    history</button></td> --}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</br>



<script type="text/javascript">
    $(function () {
    $('#myModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var QWatchNumb = button.data('QWatchNumb');
      var modal = $(this);
      modal.find('#QWatchNumb').val(QWatchNumb);
    });
    
</script> 
